.navi .container a {
  color: #95ab63;
  font-size: 12px;
}

.navi .container li {
  color: #95ab63;
  font-weight: bold;
  padding: 14px;
  text-transform: uppercase;
  display: inline;
  float: right;
}

.container {
  width: 40%;
  margin-left: 30%;
  float: center;
  color: #e2f0d6;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-align: justify;
}

.container p {
  color: #f6ffe0;
  font-size: 16px;
}

.container ul {
  color: #f6ffe0;
  font-size: 16px;
}

.container li {
  padding-bottom: 4px;
}

.container a {
  color: #bdd684;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

body {
  background-color: #10222b;
}