.container .nav a {
  color: #95ab63;
  font-size: 13px;
}

.container .nav li {
  color: #95ab63;
  font-weight: bold;
  text-transform: uppercase;
}

.container .nav {
  padding-top: 20px;
}

.container {
/*  width: 50%;
  margin-left: 25%;
  float: center;*/
  color: #e2f0d6;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  text-align: justify;
}

.container p {
  color: #f6ffe0;
  font-size: 16px;
}

.container ul {
  color: #f6ffe0;
  font-size: 16px;
}

.container li {
  padding-bottom: 4px;
}

.container a {
  color: #bdd684;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
}

body {
  background-color: #10222b;
}

.page-header {
  margin-top: -30px;
}

.nav > li > a:hover,
.nav > li > a:focus {
  background-color: #f6ffe0;
}